body{
    padding: 0;
    margin: 0;
}
#baslik{
    width:100%;
    height: 45px;
    background-color: rgb(66, 64, 64);
    text-align: center;
    margin: 0;
    padding: 0;
}
#baslikYazisi{
    color: aliceblue;
    font-size: 40px;
    user-select: none;
    margin: 0;
    padding: 0;
}
#solSekme{
    height: 1179px;
    border: none;
    width:250px;
    float: left;
    background-color: rgba(0, 0, 0,0.6);
}
#logoDiv{
    width: 195px;
    margin: auto;
    height: 170px;
    text-align: center;
    font-size: 40px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    margin-top:25px;
    user-select: none;
}
#logoDiv img{
    width:50px;
    height: 50px;
    border-radius: 50%;
    opacity: 1;
    float: left;
    margin: 20px 10px 0 15px;
}
#yesil{
    width:10px;
    height: 10px;
    background-color: rgb(6, 131, 6);
    border-radius: 50%;
    float: left;
    margin: 3px 0 0 18px;
}
#cevrimici{
float: right;
margin: 0 0 20px;
font-size: 15px;
color: aliceblue;
float: left;
margin: 0 0 15px 10px;
user-select: none;
}
#logoDiv p{
  font-size: 15px;
  color: white;
}
#anaSayfa{
    width: 249px;
    height: 45px;
    text-align: center;
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    text-align: center;
    align-items: center;
    font-size: 20px;
    text-decoration: none;
    transition: width 1s,height 1s,background-color 1s;
}
#anaSayfa:hover{
    width: 240px;
    height: 44px;
    align-items: center;
    text-align: center;
    margin: auto;
}
#anaSayfa a{
    font-size: 20px;
    text-decoration: none;
    color: black;
}
#anaSayfaYazisi{
    width: 100px;
    height: auto;
    margin: auto;
    margin: 10px 5px;
    float:left;
}
#anaSayfa img{
    margin: auto;
    margin:0 0 0 45px;
    float: left;
    width: 40px;
    height: 40px;
}
#anaSayfa a:hover{
    opacity: 0.6;
}
#istatistikler{
    width: 249px;
    height: 45px;
    text-align: center;
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transition: width 1s,height 1s,background-color 1s;
}
#istatistikler:hover{
    width: 240px;
    height: 44px;
    align-items: center;
    text-align: center;
    margin: auto;
}
#istatistikler img{
    margin: auto;
    margin:0 0 0 48px;
    float: left;
}
#istatistiklerSayfaYazisi{
    width: 100px;
    height: auto;
    margin: 10px 20px;
    float:left;
}
#istatistikler a{
    font-size: 20px;
    text-decoration: none;
    color: black;
}
#istatistikler a:hover{
    opacity: 0.6;
}
#Ürünler{
    width: 249px;
    height: 45px;
    text-align: center;
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transition: width 1s,height 1s,background-color 1s;
}
#Ürünler:hover{
    width: 240px;
    height: 44px;
    align-items: center;
    text-align: center;
    margin: auto;
}
#Ürünler img{
    margin: auto;
    margin:0 0 0 48px;
    float: left;
}
#ürünlerYazisi{
    width: 100px;
    height: auto;
    margin: 10px 5px;
    float:left;
}
#Ürünler a{
    font-size: 20px;
    text-decoration: none;
    color: black;
}
#Ürünler a:hover{
    opacity: 0.6;
}
#cikis{
    width: 249px;
    height: 45px;
    text-align: center;
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transition: width 1s,height 1s,background-color 1s;
}
#cikis:hover{
    width: 240px;
    height: 44px;
    align-items: center;
    text-align: center;
    margin: auto;
}
#cikis img{
    margin: auto;
    margin:0 0 0 48px;
    float: left;
}
#cikisYazisi{
    width: 100px;
    height: auto;
    margin: 10px 7px;
    float:left;
}
#cikis a{
    font-size: 20px;
    text-decoration: none;
    color: black;
}
#cikis a:hover{
    opacity: 0.6;
}
#bilgisayarEkle{
    width: 400px;
    height: 1179px;
    float: left;
    background-color:rgb(33, 31, 31);
}
#bilgisayarEkle::-webkit-scrollbar{
    width: 0;
}
form{
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 80px;
}
select{
   width:200px;
   height: 30px;
   text-align: center;
   border-radius:5px ;
}
form input{
    width:200px;
   height: 30px;
   border-radius:5px;
   outline:none;
   transition: all 0.3s;
}
form input:focus{
    border-color: rgb(0, 250, 250);
}
input[type="submit"]{
    cursor: pointer;
    transition: all 0.3s;
}
input[type="submit"]:hover{
    color:white;
    background-color: black;
    border-color: white;
}
#aksesuarEkle{
    width: 400px;
    height: 1179px;
    border: 1px solid;
    float: left;
    text-align: center;
    border-left-color: white;
    border-bottom-color:white ;
    border-width:0 0 2px 2px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color:rgb(33, 31, 31);
}
#aksesuarEkle::-webkit-scrollbar{
    width: 0;
}
#monitorEkle{
    width: 400px;
    height: 1179px;
    border: 1px solid;
    float: left;
    text-align: center;
    border-left-color: white;
    border-bottom-color:white ;
    border-width:0 0 2px 2px;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color:rgb(33, 31, 31);
}
#monitorEkle::-webkit-scrollbar{
    width: 0;
}
#kullanicilar{
    width: 249px;
    height: 44px;
    text-align: center;
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    text-align: center;
    align-items: center;
    font-size: 20px;
    text-decoration: none;
    transition: width 1s,height 1s,background-color 1s;
}
#kullanicilar img{
    margin: auto;
    margin:0 0 0 48px;
    float: left;
    width: 32px;
    height: 32px;
}
#kullanicilar:hover{
    width: 240px;
    height: 45px;
    align-items: center;
    text-align: center;
    margin: auto;
}
#kullanicilarYazisi{
    width: 100px;
    height: auto;
    margin: 10px 0 0 17px;
    float:left;
}
#kullanicilar a{
    font-size: 20px;
    text-decoration: none;
    color: black;
}
#kullanicilar a:hover{
    opacity: 0.6;
}
#siparisler{
    width: 249px;
    height: 45px;
    text-align: center;
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transition: width 1s,height 1s,background-color 1s;
}
#siparisler:hover{
    width: 240px;
    height: 44px;
    align-items: center;
    text-align: center;
    margin: auto;
}
#siparisler img{
    width: 33px;
    height: 33px;
    margin: auto;
    margin:0 0 0 48px;
    float: left;
}
#siparislerYazisi{
    width: 100px;
    height: auto;
    margin: 10px 7px;
    float:left;
}
#siparisler a{
    font-size: 20px;
    text-decoration: none;
    color: black;
}
#siparisler a:hover{
    opacity: 0.6;
}